@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.page-title {
  text-align: center;
  color: #181f1c;
}

.score {
  margin: 2rem auto 0;
  padding: 1rem;
  width: 300px;
  background-color: #9ea93f;
  text-align: center;
  border-radius: 10px;
  color: #181f1c;
}

.choices {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 0;
  width: 100px;
  background-color: #274029;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #9ea93f;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

.results {
  margin-top: 2rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ea93f;
  color: #181f1c;
  font-weight: bold;
}

.reset-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
